html {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(9, 10, 10);
}

* {
    font-family: 'Bungee Hairline';
}

div#one {
    margin: auto;
    width: 40%;
    height: 90%;
    background-color: #c9c9c9;
    box-shadow: 0 1px 4px 0px rgba(41, 41, 43, 0.62);
    border-radius: 5px;
}
div#one div.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.UpperPart {
    height: 19%;
    width: 98%;
    margin: 2px;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

div.UpperPart * {
    width: 30%;
    height: 70%;
    align-self: center;
    font-size: 47px;
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}
div.UpperPart div.emoji{ 
    display: flex;
    box-shadow: 0 1px 4px 0px rgb(255, 255, 255);
   flex-direction: column;
   justify-content: space-around;
}
div.UpperPart div i { 
    transform: translate(-50%, -50%);
    color: rgb(255, 230, 0);
    font-size: 60px;
    margin-top: 10%;
   }

div.holes {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}

div.holes div {
    width: 98%;
    height: 14%;
    display: flex;
    align-self: center;
}

div.holes button {
    width: 15%;
    height: 95%;
    margin: 1px;
    background-color: lightslategrey;
    border: 1px solid white;
    color: #7e7d7d;
    box-shadow: 0 1px 4px 0px rgb(255, 250, 250);
}

div.holes button:hover {
    cursor: pointer;
    background: #c9c9c9;
    box-shadow: none;
}